<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.youtraining">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YouTraining">
        <activity android:name=".SelectedStrongTreaning"></activity>
        <activity android:name=".PulingBarToTheChin" />
        <activity android:name=".StandingBarbellPress" />
        <activity android:name=".BenchPressUP" />
        <activity android:name=".ArmCurlsWithDumbbellsDown" />
        <activity android:name=".ExtensionOneArm" />
        <activity android:name=".FrenchBenchPress" />
        <activity android:name=".BenchPressNarrowGrip" />
        <activity android:name=".DumbbellLifting" />
        <activity android:name=".ScottScampi" />
        <activity android:name=".StandingBarbellBend" />
        <activity android:name=".SpreadingLegsOnTheTreadmill" />
        <activity android:name=".LegPressAnExerciseMachine" />
        <activity android:name=".LegExtensions" />
        <activity android:name=".GakkSquats" />
        <activity android:name=".DumbbellLunges" />
        <activity android:name=".DumbbellSquats" />
        <activity android:name=".UpperBlockToChestStretch" />
        <activity android:name=".WaistBlockStretchInSitting" />
        <activity android:name=".PullingBehindTheHeadOnAHighBlock" />
        <activity android:name=".BarbellBends" />
        <activity android:name=".Hyperextension" />
        <activity android:name=".StandingUpright" />
        <activity android:name=".BlockPullToTheSideWithBothHands" />
        <activity android:name=".BottomBlock" />
        <activity android:name=".PullingTheUpperUnitDown" />
        <activity android:name=".WeightliftingInABend" />
        <activity android:name=".PullUps" />
        <activity android:name=".SquatsWithABarbell" />
        <activity android:name=".Deadlift" />
        <activity android:name=".WhatBenchPress" />
        <activity android:name=".BenchPress" />
        <activity android:name=".WarmUP5" />
        <activity android:name=".WarmUP4" />
        <activity android:name=".WarmUP3" />
        <activity android:name=".WarmUP2" />
        <activity android:name=".WarmUP" />
        <activity android:name=".StrongTreaningMain" />
        <activity android:name=".WhatWarmUP" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>